.child{
    border: solid 1px red;
    margin-top: 40px;
}

.sub_node{
    border: solid 1px black;
    margin-top: 40px;
}

.node{
    border: solid 1px blue;
    margin-top: 40px;
}


.app{
    border: solid 1px teal;
    margin-top: 40px;
}
