/*********** 架构css相关***********/
.f {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;

    /* 默认主轴是X，侧轴就是Y
    如果定义主轴是Y，侧轴就是X
    */
}

.f-w {
    /* 换行 */
    flex-wrap: wrap;
}

.f-c-c {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    /* 主轴居中对齐 */
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    /* 侧轴居中对齐 */
    align-items: center;
}

.f-sb-c {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    /* 先贴主轴两边，剩下的元素平分 */
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    /* 默认侧轴居中 */
    align-items: center;
}

.f-s-c {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    /* 默认主轴从左到右 */
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    /* 默认侧轴居中 */
    align-items: center;
}

.f-s-e {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    /* 默认主轴从右到左开始排列 */
    justify-content: flex-start;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;

    /* 默认侧轴从下往上 */
    align-items: flex-end;
}

.f-s-s {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    /* 默认主轴从右到左开始排列 */
    justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    /* 默认侧轴从上往下 */
    align-items: flex-start;
}

.f-s-st {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    /* 默认主轴从右到左开始排列 */
    justify-content: flex-start;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    /* 默认侧轴拉伸，子元素不给高度可以铺满整个父元素 */
    align-items: stretch;
}

.f-sb-s {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    /* 先贴主轴两边，剩下的元素平分 */
    justify-content: space-between;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        /* 默认侧轴从上往下 */
    align-items: flex-start;
}

.f-sb-e {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        /* 先贴主轴两边，剩下的元素平分 */
    justify-content: space-between;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        /* 默认侧轴从下往上 */
    align-items: flex-end;
}

.f-sb-st {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    /* 先贴主轴两边，剩下的元素平分 */
    justify-content: space-between;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    /* 默认侧轴拉伸，子元素不给高度可以铺满整个父元素 */
    align-items: stretch;
}

.f-c-st {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        /* 默认主轴 居中 */
    justify-content: center;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    /* 默认侧轴拉伸，子元素不给高度可以铺满整个父元素 */
    align-items: stretch;
}

.f-sa-c {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-around;
    /* 平分剩余的空间 */
    justify-content: space-around;
    -webkit-box-align: center;
    -webkit-align-items: center;
        /* 默认侧轴居中 */
    align-items: center;
}

.f-e-c {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    /* 默认主轴从上往下 */
    justify-content: flex-end;
    -webkit-box-align: center;
    -webkit-align-items: center;
    /* 默认侧轴居中 */
    align-items: center;
}

.fc {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    /* Y轴，从上到下 */
    flex-direction: column;
}

.f1 {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
}

.fs {
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
}

.ellipsis1 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    word-break: break-all;
}

.ellipsis2 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-break: break-all;
}